* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lucida Grande";
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-color: rgb(129, 41, 41);
  background-size: cover;
  color: rgb(255, 255, 255);
  text-align: center;
}

.top-wrapper h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.top-wrapper p {
  opacity: 0.7;
  margin-bottom: 3px;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-right: -20px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
}

.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 21px 10px 0px;
  display:none;
}

.lesson-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}

.lesson {
  float: left;
  width: 25%;
}

.lesson-icon {
  position: relative;
}
.lesson-icon a:hover{
  height : 400px;
}
.lesson-icon p {
  position: absolute;
  top: 40%;
  width: 100%;
  color: white;
}

.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 15px;
  color: #b3aeb5;
}

.heading h3 {
  font-weight: normal;
}

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

.start_learning {
  padding: 15px 40px;
  background-color: #5dca88;
  cursor: pointer;
  box-shadow: 0 7px #1a7940;
}



footer img {
  width: 125px;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}

footer {
  padding-top: 30px;
  padding-bottom: 20px;
}
/*For navbar*/

@media (max-width:800px) {

   .menu-icon{
      margin-right: 40px;
      display: inline-block;
      padding: 18px;
   }
   .menu-icon:hover{
     background-color: white;
     color: black;
   }

   .header-right{
     position: absolute;
     right: 20px;
     display: flex;
     flex-direction: column;
     padding-top: 19px;
     margin-right: 2px;   
   }

   .header-right a{
     background: rgba(34, 49, 52, 0.9);
     border: 1px solid rgb(255, 255, 255);
     color: white;
     margin: 0 3px 4px 0;
     line-height: 40px;
     display: none;
     border-radius: 8px;
   }

   .menu-icon:hover .header-right a{
     display: block;
     opacity: 1;
   }

   .header-right a:hover{
     display: inline-block;
     transform: translateY(2px);
     transform: translateX(-10px);
     background: white;
     border: 2px solid rgb(60, 123, 231);
     color: rgb(60, 123, 231);
   }
}